
<div [ngClass]="setClasses()">
    <p>
        <input (change) = "onToggle(passedTodoFromTodosComponent)" type="checkbox"/>
        {{passedTodoFromTodosComponent.title}}
        <button (click) = "onDelete(passedTodoFromTodosComponent)" class="del">x</button>
    </p>
</div>
